.kasa-header {
    display: flex;
    height: 100px;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.kasa-logo {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.Navigation {

    ul {
        display: flex;
        list-style-type: none;
        margin-bottom: 30px;
        padding-inline-start: 0;
        a {
            text-decoration: none;
            padding: 15px;
        }
        li{
            color: #FF6060;
            font-size: 25px;
        }
    }

}

@media screen and (max-width: 600px) {
    .kasa-header {
        height: 20%;
    }
}