.star-filled {
    color: #FF6060;
    font-size: 30px;
}

.star {
    color: grey;
    font-size: 30px;
}

.rating {
    height: 35px;
}

@media screen and (max-width: 600px) {
    .rating {
        margin-right: 25%;
    }
}

@media screen and (max-width: 400px) {
    .rating {
        margin-right: 15%;
    }
}