.LocationTitle {
    color: #FF6060;
    font-style: normal;
     font-size: 20px;
     line-height: 120.6%;
     margin-right: 20%;
    h2 {
        margin-bottom: 0;
    }
    span {
        font-size: 17px;
    }
}

.Location {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95%;
}

.ImageHote {
    width: 80px;
    height: 80px;
    img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 100px;
    }
}

.Tags {
    display: flex;
    margin-top: 15px;

    button {
        background-color: #FF6060;
        border: none;
        border-radius: 15px;
        color: #F7F7F7;
        margin-right: 10px;
        width: 40%;
        height: 20px;
    }
    
}

.InfosHote {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.HoteName {
    color: #FF6060;
    margin-right: 10px;
    font-size: 20px;
}

.HoteNP {
    display: flex;
    justify-content: center;
    align-items: center; 
}

@media screen and (max-width: 600px) {
    .InfosHote {
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
    }

    .LocationTitle {
        margin-right: 0;
        margin-bottom: 5%;
    }
}