@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

$font-1: "Montserrat", sans-serif;

body {
    position: relative;
    width: 1440px;
    height: auto;
    margin: 0 auto;
    font-family: $font-1;
}

@media screen and (max-width: 600px) {
    body {
        width: 500px;
    }
}